# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.env
/node_modules
/.pnp
.pnp.js
/src/static/logo.png
/src/static/fullLogo.png
/public/*.png
/public/*.html
/public/*.json
/public/*.ico

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
debug.log*
yarn-debug.log*
yarn-error.log*
